<footer class="page-footer font-small mt-3" style="background-color: #eeeeee;" id="footer">
  <div class="footer-copyright text-center py-3" style='color:#1a1a1a;'>© 2019 Copyright:
    <a style='color:black;'> A1 Cards Ltda.</a>
  </div>
</footer>
