<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="card" id="cardSearch">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <input type="email" class="form-control" placeholder="Busqueda" id="busqueda"
               [(ngModel)]="search" (keydown)="changeData(allData)">
      </div>
      <div class="col-4 my-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="pendientes"
                 [(ngModel)]="viewPerson" (change)="changeData(allData)">
          <label class="form-check-label">Pendientes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="registrados" [(ngModel)]="viewPerson"
                 (change)="changeData(allData)">
          <label class="form-check-label">Registrados</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="todos" [(ngModel)]="viewPerson"
                 (change)="changeData(allData)">
          <label class="form-check-label">Todos</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" id="cardPerson">
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-sm">
        <col width="16.66%">
        <col width="41.66%">
        <col width="25%">
        <col width="16.66%">
        <thead>
        <tr>
          <th>CC</th>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Ver</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let persona of personas| slice:0:19; let i=index"
            [class.registrado]="persona.asistencia">
          <th scope="row">
            {{persona.cc}}
          </th>
          <td>
            {{persona.name | titlecase}}
          </td>
          <td>
            {{persona.cargo}}
          </td>
          <td>
            <p *ngIf="!persona.asistencia">
              No ha llegado
            </p>
            <button type="button" class="btn btn-outline-primary btn-block" *ngIf="persona.asistencia"
                    (click)="viewDate(persona.cc)" data-toggle="modal" data-target="#modalRevisar">
              Revisar
            </button>
          </td>
        </tr>
        <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="modalRevisar" tabindex="-1" role="dialog" aria-labelledby="modalRevisarHead"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRevisarHead">Fecha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{dateRevisar}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger fixed-bottom" (click)="pedirAyuda()">
  Pedir ayuda
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDisconect"
        id="disconnectSocket" style="display: none;">
  Modal disconnect
</button>

<div class="modal fade" id="modalDisconect" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-light">Servidor desconectado</h5>
      </div>
      <div class="modal-body">
        Tratando de reconectar
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
