
#cardSearch {
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

#cardPerson {
  width: 90%;
  margin: 2pc auto auto;
}

.registrado {
  background-color: #ffcc00;
  color: white;
}
