<div class="container-fluid">
  <div class="alert" [ngClass]="alertState">
    {{textAlert}}
  </div>
  <div class="row">
    <div class="col">
      <h2>Equipos activos</h2>
      <ul class="list-group" *ngIf="cSockets && ayuda">
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let equipo of equipos">
          {{equipo.equipo + " " + equipo.conexiones.length}}
        </button>
      </ul>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary btn-block" (click)="ReportG()">Generar Informe</button>
      <button type="button" class="btn btn-outline-info btn-block" (click)="BackUpG()">Generar BU</button>
      <button type="button" class="btn btn-outline-primary btn-block" (click)="getBUServer()" data-toggle="modal"
              data-target="#modalBU">Obtener listas de BU
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>BU</h1>
    </div>
    <div class="col">
    </div>
  </div>

  <hr>

  <div class="card mt-5" id="cardSearch">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <input type="text" class="form-control" placeholder="Busqueda" id="busqueda"
                 [(ngModel)]="search" (keydown)="changeData(allData)">
        </div>
        <div class="col-4 my-1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="pendientes"
                   [(ngModel)]="viewPerson" (change)="changeData(allData)">
            <label class="form-check-label">Pendientes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="registrados" [(ngModel)]="viewPerson"
                   (change)="changeData(allData)">
            <label class="form-check-label">Registrados</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="todos" [(ngModel)]="viewPerson"
                   (change)="changeData(allData)">
            <label class="form-check-label">Todos</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" id="cardAdd">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <input type="number" class="form-control" placeholder="Cedula"
                 [(ngModel)]="newCC" (keydown)="changeData(allData)"
          >
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Nombre"
                 [(ngModel)]="newName" (keydown)="changeData(allData)"
                 (keypress)="upperCase()">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Territorio"
                 [(ngModel)]="newTerritorio" (keydown)="changeData(allData)">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Hotel"
                 [(ngModel)]="newHotel" (keydown)="changeData(allData)">
        </div>
        <div class="col-1">
          <input type="text" class="form-control" placeholder="Habitacion"
                 [(ngModel)]="newHabitacion" (keydown)="changeData(allData)">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-success btn-block"
                  (click)="sendNewValues()">
            Registrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" id="cardPerson">
    <div class="card-body">
      <table class="table table-bordered table-sm">
        <thead>
        <tr class="row m-0">
          <th class="d-inline-block col-2">CC</th>
          <th class="d-inline-block col-2">Nombre</th>
          <th class="d-inline-block col-2">Territorio</th>
          <th class="d-inline-block col-2">Hotel</th>
          <th class="d-inline-block col-1">Habitacion</th>
          <th class="d-inline-block col-1">Admon</th>
          <th class="d-inline-block col-1">Editar</th>
          <th class="d-inline-block col-1">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row m-0" *ngFor="let persona of personas| slice:0:19; let i=index"
            [class.registrado]="persona.asistencia">
          <td class="d-inline-block col-2">
            <input *ngIf="persona.cc===editCedula" class="form-control w-100" placeholder="{{persona.cc}}"
                   [(ngModel)]="editModal.cc">
            <div *ngIf="persona.cc!==editCedula">{{persona.cc}}</div>
          </td>
          <td class="d-inline-block col-2">
            <input *ngIf="persona.cc===editCedula" class="form-control w-100" placeholder="{{persona.name | titlecase}}"
                   [(ngModel)]="editModal.name">
            <div *ngIf="persona.cc!==editCedula">{{persona.name | titlecase}}</div>
          </td>
          <td class="d-inline-block col-2">
            <input *ngIf="persona.cc===editCedula" class="form-control w-100" placeholder="{{persona.territorio}}"
                   [(ngModel)]="editModal.territorio">
            <div *ngIf="persona.cc!==editCedula">
              {{persona.territorio}}
            </div>
          </td>
          <td class="d-inline-block col-2">
            <input *ngIf="persona.cc===editCedula" class="form-control w-100" placeholder="{{persona.hotel}}"
                   [(ngModel)]="editModal.hotel">
            <div *ngIf="persona.cc!==editCedula">
              {{persona.hotel}}
            </div>
          </td>
          <td class="d-inline-block col-1">
            <input *ngIf="persona.cc===editCedula" class="form-control w-100" placeholder="{{persona.habitacion}}"
                   [(ngModel)]="editModal.habitacion">
            <div *ngIf="persona.cc!==editCedula">
              {{persona.habitacion}}
            </div>
          </td>

          <td class="d-inline-block col-1">
            <button type="button" class="btn btn-outline-primary btn-block" *ngIf="persona.asistencia"
                    (click)="undoRegistrar(persona.cc)">
              Undo
            </button>
          </td>
          <td class="d-inline-block col-1">
            <button type="button" class="btn btn-outline-primary btn-block"
                    (click)="sendEditar()" *ngIf="persona.cc===editCedula">
              Guardar
            </button>
            <button type="button" class="btn btn-outline-primary btn-block"
                    (click)="Editar(persona.cc)" *ngIf="persona.cc!==editCedula">
              Editar
            </button>
          </td>
          <td class="d-inline-block col-1">
            <button type="button" class="btn btn-outline-danger btn-block"
                    (click)="borrar(persona.cc)">
              Borrar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="modalRevisar" tabindex="-1" role="dialog" aria-labelledby="modalRevisarHead"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRevisarHead">Fecha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{dateRevisar}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalBU" tabindex="-1" role="dialog" aria-labelledby="modalBULabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBULabel">Regresar a BU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <div *ngFor="let BU of getBU">
            <button *ngIf="BU!=='.DS_Store'" type="button" class="list-group-item list-group-item-action"
                    (click)="uploadBU(BU)">{{BU}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<button id="openModalEdit" [hidden]="true" data-toggle="modal" data-target="#modalEditar">E</button>

<div class="modal" tabindex="-1" role="dialog" id="modalEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" placeholder="{{editModal.name}}">
        <input type="text" class="form-control mb-2" placeholder="{{editModal.cc}}">
        <input type="text" class="form-control mb-2" placeholder="{{editModal.habitacion}}">
        <input type="text" class="form-control mb-2" placeholder="{{editModal.hotel}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
