@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e8f9e7 50%, #231dff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

#cardSearch {
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

#cardAdd {
  width: 90%;
  margin: 2pc auto auto;
  background-color: rgba(255, 255, 255, 0.8);
}

#cardPerson {
  width: 100%;
  margin: 2pc auto auto;
}

.registrado {
  background-color: #ffcc00;
  color: white;
}
