.navbar-toggler{
  color: white;
}

@media only screen and (max-width: 570px) {
  #logo{
    display: none;
  }
}

nav{
  background-color: black;
  height: 4em;
}

#logoBar{
  width: 6.8em;
  position: absolute; 
  margin-top: -1.2em;
  left:5%;
}

#equipoSeccion{
  left:17%;
  position: absolute; 
  margin-top: 0.2em!important;
}

.equipoTexto{
  font-size: 1.25em !important;
}

.compartirTexto{
  font-size: 0.5em !important;  
  color: rgba(255, 255, 255, 0.5);
}