<nav class="navbar fixed-top navbar-expand-lg navbar-dark text-white">
  <a class="navbar-brand" id="logo">
    <img id="logoBar" src="assets/img/logo.png">
  </a>
  <div id="equipoSeccion">
    <button *ngIf="!estaIngresado" type="button" class="btn btn-primary" data-toggle="modal" data-target="#hostModal">
      Ingresar
    </button>
    <h3 class="equipoTexto"  *ngIf="estaIngresado"><a data-toggle="modal" data-target="#hostModalIngresado">{{equipo}}<h4 class="compartirTexto"  *ngIf="impresora"><i></i>Compartiendo</h4></a></h3>

  </div>


  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      Registrados <span class="badge badge-pill badge-success">{{asistenciaNum}}</span>
      Pendientes <span class="badge badge-pill badge-danger">{{personas.length - asistenciaNum }}</span>
      Total <span class="badge badge-pill badge-primary">{{personas.length}}</span>
    </li>
  </ul>
</nav>


<!--Modal para log hosts-->


<!-- Modal -->
<div class="modal fade"  id="hostModal" tabindex="-1" role="dialog" aria-labelledby="hostModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hostModalLabel">Ingreso Equipo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ingresa Nombre de equipo e indicar si desea compartir tu impresora.
        <div class="row">
          <div class="col-12 mt-3">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Nombre</span>
                  </div>
                  <input type="text" [(ngModel)]="equipo" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
              </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">

                <input type="text" value="Compartir Impresora" class="form-control" aria-label="Text input with checkbox">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" [(ngModel)]="impresora" aria-label="Checkbox for following text input">
                    </div>
                  </div>
              </div>
              <small *ngIf="noExisteEquipo" class="text-warning">Equipo ya existe.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="ingresar()"  class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade"  id="hostModalIngresado" tabindex="-1" role="dialog" aria-labelledby="hostModalIngresadoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hostModalIngresadoLabel">Edición Equipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Actualiza Nombre de equipo e actualiza si desea compartir tu impresora.
          <div class="row">
            <div class="col-12 mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Nombre</span>
                    </div>
                    <input type="text" [(ngModel)]="equipo" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                </div>
          </div>
          <div class="col-12">
              <div class="input-group mb-3">

                  <input type="text" value="Compartir Impresora" class="form-control" aria-label="Text input with checkbox">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" [(ngModel)]="impresora" aria-label="Checkbox for following text input">
                      </div>
                    </div>
                </div>
                <small *ngIf="noExisteEquipo" class="text-warning">Equipo ya existe.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrarSesion()" class="btn btn-danger" >Cerrar Sesión</button>
          <button type="button" (click)="actualizar()"  class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div>


